
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Examen1ds39.Models.Cliente

    List<Examen1ds39.Models.Cliente> list = ViewBag.lista;

}
<br />
<h2>Clientes</h2>

@using (Html.BeginForm("Cliente", "Home", FormMethod.Post))
{
    @Html.ValidationSummary("", htmlAttributes: new { @class = "text-danger" })
<table>
    <tr>
        <td>@Html.LabelFor(m => m.nombres, null, htmlAttributes: new { @class = "text-dark" })</td>
        <td>@Html.TextBoxFor(m => m.nombres, null, htmlAttributes: new { @class = "form - control" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.apellidos, null, htmlAttributes: new { @class = "text-dark" })</td>
        <td>@Html.TextBoxFor(m => m.apellidos, null, htmlAttributes: new { @class = "form - control" })</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.dui, null, htmlAttributes: new { @class = "text-dark" })</td>
        <td>@Html.TextBoxFor(m => m.dui, null, htmlAttributes: new { @class = "form - control" })</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.direccion, null, htmlAttributes: new { @class = "text-dark" })</td>
        <td>@Html.TextBoxFor(m => m.direccion, null, htmlAttributes: new { @class = "form - control" })</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.nit, null, htmlAttributes: new { @class = "text-dark" })</td>
        <td>@Html.TextBoxFor(m => m.nit, null, htmlAttributes: new { @class = "form - control" })</td>
    </tr>
       
</table>
<input type="submit" name="boton" value="Guardar" class="btn btn-primary" />
}

    <hr />
    <form action="/Home/Search">
        <select class="custom-select mr-sm-2" name="opciones">
            <option selected value="cod_cliente">El codigo es...</option>
            <option value="nombres">El nombre contiene...</option>
            <option value="apellidos">El apellido contiene...</option>
            <option value="dui">El dui es...</option>
            <option value="direccion">La direccion contiene...</option>
            <option value="nit">El nit es...</option>
        </select>
        <input type="text" name="valor" />
        <input type="submit" value="Buscar" />
    </form>
    <hr />

@if (list != null)
{
    <table class="table">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DUI</th>
            <th>Direccion</th>
            <th>NIT</th>
            <th>Opciones</th>
        </tr>

        @foreach (Examen1ds39.Models.Cliente current in list)
        {
            <tr>
                <td>@current.cod_cliente</td>
                <td>@current.nombres</td>
                <td>@current.apellidos</td>
                <td>@current.dui</td>
                <td>@current.direccion</td>
                <td>@current.nit</td>
                <td>
                    <a class="btn btn-info" href="/Home/UpdateInit?cod_cliente=@current.cod_cliente">
                        Editar
                    </a>
                    @if (ViewBag.nivel.ToString().Equals("administrador"))
                    {
                        <a class="btn btn-danger" href="/Home/DeleteInit?cod_cliente=@current.cod_cliente">
                            Eliminar
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
}
